<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=0,width=device-width" />
    <style>
        nav .nav > .active {
            border-bottom: 3px solid #454c59
        }
    </style>
{#    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js"></script>#}
{#    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">#}
</head>
<body>
{% from 'macros.html' import horizontal_field with context %}
{% block body %}
<div class="container">
    <div class="content_2">
    <form action="{{ url_for('users.login') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
{#        {{ horizontal_field(form.csrf_token) }}#}
        {{ horizontal_field(form.login) }}
        {{ horizontal_field(form.password) }}
        {{ horizontal_field(form.remember_me) }}
        <p class="error-msg">
        {% for message in get_flashed_messages() %}
            <span class="field tag">{{ message }} </span>
            {% endfor %}
            {% for lable in form %}
                {% if lable.errors %}
                    {% for error in lable.errors %}
                    <span class="field tag">{{ error.strip() }} </span>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </p>
        {{ horizontal_field(form.submit) }}
    </form>
    </div>

</div>
{% endblock %}

{#<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>#}
{#<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>#}
</body>
</html>